# File temporanei e artefatti di compilazione LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.out
*.run.xml
*.synctex
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.xdv

# File di sistema e configurazioni editor
.idea/
.DS_Store
Thumbs.db

# Mantieni le cartelle vscode e tasks
.vscode/*
!.vscode/tasks.json
